ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: purple
	
}

a {
	text-decoration: none;
	color: #FFFFFF;	
}

.navbar a {
    color: #FFFFFF;
}
.navbar {
	background-color: #d82356;
}

@media (max-width: 300px) {
  body {
    background-color: #333333;
    background-image: image-url("http://placekitten.com/g/200/300");
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  body {
    background-color: #666666;
    background-image: image-url("http://placekitten.com/g/400/600");
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  body {
    background-color: #999999;
    background-image: image-url("http://placekitten.com/g/500/768");
  }
}
@media (min-width: 769px) {
  body {
    background-color: #cccccc;
    background-image: image-url("http://placekitten.com/g/800/1048");
  }