ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: purple
	
}

a {
	text-decoration: none;
	color: #FFFFFF;	
}

.navbar a {
    color: #FFFFFF;
}
.navbar {
	background-color: #d82356;
}
html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}